<div id="header">
	<div id="site-name">Irish Optimist</div>
	<div id="search">
		<% form_tag({:action => 'index'}, :method => 'get') do |f| %>
		  <!-- <label for="searchsite">Site Search:</label> -->
		  <%= label_tag "searchsite", "Articles Search:" %>
  		<!-- <input id="searchsite" name="searchsite" type="text" /> -->
  		<%= text_field_tag :q, h(params[:q]) %>
  		<!-- <input type="submit" value="Go" class="f-submit" /> -->
  		<%= submit_tag 'Go', :class => "f-submit", :name => nil %>
    <% end %>
	</div>
	<ul id="nav">
	<li class="first"><%= link_to 'Home', root_path %></li>
	<li class="active"><%= link_to 'Irish Football News', articles_path %></a>
    <!--
		<ul>
		  <li class="first"><a href="#">Charlie Weis</a></li>
		  <li><a href="#">Jimmy Clausen</a></li>
		  <li><a href="#">Golden Tate</a></li>
      <li><a href="#">Manti Te'o</a></li>
      <li><a href="#">Recruiting</a></li>
		</ul>
		-->
	</li>
	<!-- <li class=""><a href="#">Posts</a></li> -->
	</ul>
</div>