<%# iui_toolbar "Irish Optimist home", root_url %>
       
<!-- create the primary toolbar -->
<div class="toolbar">
  <h1 id="pageTitle"></h1>
  <a id="backButton" class="button" href="#"></a>
  <a class="button" href="#searchForm">Search</a>
</div>

<ul id="home" title="IrishOptimist" selected="true">
  <li class="group">Latest IrishOptimist.com News:</li>
<% @articles.each do |article| %>
  <li>
    <a target="_blank" href="<%= article.url %>"><%= article.title %>&nbsp;
    <span style="font-size:small;color:gray;">
      printed:<i><%= distance_of_time_in_words(article.printed_date, Time.now) %> ago</i>
    </span>
    </a>
  </li>
<% end %>
  </li>
</ul>

<% form_tag({:controller => 'articles', :action => 'index'}, 
    :id =>'searchForm', :class=> 'dialog', :method => 'get') do |f| %>
  <fieldset>
    <h1>Articles Search</h1>
    <a class="button leftButton" type="cancel">Cancel</a>
    <a class="button blueButton" type="submit">Search</a>
    <!-- <label for="searchsite">Site Search:</label> -->
    <%= label_tag "searchsite", "Articles Search:" %>
	  <!-- <input id="searchsite" name="searchsite" type="text" /> -->
	  <%= text_field_tag :q, h(params[:q]) %>
	  <!-- <input type="submit" value="Go" class="f-submit" /> -->
	  <%# submit_tag 'Go', :class => "f-submit", :name => nil %>
	</fieldset>
<% end %>




