<p>
  <b>Newspaper:</b>
  <%=h @article.newspaper_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @article.title %>
</p>

<p>
  <b>Url:</b>
  <%=h @article.url %>
</p>

<p>
  <b>Printed date:</b>
  <%=h @article.content %>
</p>

<p>
  <b>Printed date:</b>
  <%=h @article.printed_date %>
</p>


