<h1>Irish Optimist</h1>

<% @posts.each do |post| %>
  <h2><%=h post.title %></h2>
  <div>by: <%=h post.name %> created at: <%= post.created_at %></div>
  <div><%= post.content %></div>
  <div>
    <%= link_to 'Show', post %> | 
    <%= link_to 'Edit', edit_post_path(post) %> |
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
  </div>
  <hr>
<% end %>


<%= link_to 'New post', new_post_path %>