
<h2><%=h @post.title %></h2>
<div>
  by: <%=h @post.name %>   
  <i>created <%= distance_of_time_in_words(@post.created_at, Time.now) %> ago</i>
</div>

<p><%= @post.content %></p>

<h3>Comments</h3>
<% @post.comments.each do |c| %>
  <p>
    <b><%=h c.commenter %>:</b> <%=h c.body %>
  </p>
<% end %>

<% if logged_in? && current_user.email == "holtonma@gmail.com"%>
<%# if @user.id == 1%>
  <%= link_to 'Edit Post', edit_post_path(@post) %> |
  <%= link_to 'Back to Posts', posts_path %> |
  <%= link_to 'Manage Comments', post_comments_path(@post) %>
<% end %>