<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Notre Dame Fighting Irish Football Articles</title>
  <%= stylesheet_link_tag 'main' %>
  <%# stylesheet_link_tag 'print' %>
  <!--[if lte IE 6]>
  <%= stylesheet_link_tag 'ie6_or_less.css' %>
  <![endif]--> 
</head>

<body id="type-d">
<div id="wrap">
  <%= render :partial => "articles/tabsheader" %>
	
	<div id="content-wrap">
		<div id="content">
		  <p style="color: green"><%= flash[:notice] %></p>
  	  <%= yield %>
      
			<div id="footer">
			  <p>
			    IrishOptimist.com is not affiliated with, sponsored by, or endorsed by the University of Notre Dame. 
			    Copyright &copy; <%= Time.now.year %> IrishOptimist.com, All rights reserved
			  </p>
			  <p>Contact Us: ndirishoptimist (at) gmail (dot) com</p>
			</div>
		</div>
		
		<div id="sidebar">
			<div class="featurebox"><%= render :partial => "home/sponsors" %></div>
			<div class="featurebox"><%= render :partial => "home/schedule_2009" %></div>
		</div>
		
    <div id="poweredby">
      <a href="http://www.IrishOptimist.com/"><%= image_tag("optimist.png", :alt => "IrishOptimist.com") %></a>
    </div>
	</div> <!-- end content-wrap -->
</div> <!-- end wrap -->

</body>

</html>



